<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wallet</title>
	<script src="https://ajax.microsoft.com/ajax/jquery/jquery-3.7.1.min.js"></script>
</head>
<body style="background-color: darkslategrey; color: beige;">
	<div>
		<h3>Wallet</h3>
		<span style="font-size: large;" id="wallet_amount">0</span>
		<button id="reload_wallet">Reload</button>

		<p>Public Key</p>
		<textarea id="public_key" rows="2" cols="63"></textarea>
		<p>Private Key</p>
		<textarea id="private_key" rows="1" cols="63"></textarea>
		<p>Blockchain Address</p>
		<textarea id="blockchain_key" rows="1" cols="63"></textarea>
	</div>

	<div>
		<h3>Send Values</h3>
		<div>
			<p>
				Address <input id="recipient_blockchain_address" size="48" type="text">
			</p>
			<p>
				Amount <input id="recipient_blockchain_address" size="5" type="text">
				<button id="send_money_button">Send</button>
			</p>
		</div>
	</div>
</body>
</html>